@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-shimmer: shimmer 2s infinite;
  --animate-shine: shine 1.5s infinite;

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  @keyframes shine {
    0% { transform: translateX(-100%) skewX(-25deg); }
    100% { transform: translateX(200%) skewX(-25deg); }
  }
}

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0c94e8;
  --primary-rgb: 12, 148, 232;
  --color-secondary: #ed254e;
  --color-accent: #260a2e;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #0c94e8;
  --primary-rgb: 12, 148, 232;
  --color-secondary: #ed254e;
  --color-accent: #260a2e;
}
